.contact{
    background-color: var(--bg-color);
    padding: 5vh;
    width: 100vw;
    background-image: url(../../../public/Images/worldmap2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.contact h1{
    font-size: 3rem;
    padding: 3vh 0;
    color: var(--heading-color);
    font-family: 'Roboto';
}
.contact .inputBox{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}
.contact .inputBox .contactInput{
    display: block;
    width: 100%;
    padding: 0 20px;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    height: 50px;
    line-height: 46px;
    margin: 20px 0px;
    outline: none;
    color: var(--input-color);
    font-size: 15px;
    letter-spacing: .1px;
    background: none;
    border: 2px solid hsla(0,0%,100%,.5);
    font-family: "Poppins", sans-serif;
}
.contact .inputBox textarea{
    height: 120px;
    background: none;
    padding: 10px 20px 0;
    width: 100%;
    color: var(--input-color);
    outline: none;
    font-size: 15px;
    letter-spacing: .1px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-family: "Poppins", sans-serif;
}
.contact .inputBox .submit{
    padding: 10px;
    border: 2px solid hsla(0,0%,100%,.5);
    color: rgba(255, 255, 255, 0.712);
    width: 7.5rem;
    text-align: center;
    margin-top: 5vh;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}
.contact .inputBox .submit:hover{
    color: var(--input-color);
    background-color: var(--hover-color);
    cursor: pointer;
    transition: all 0.5s ease-out;
    border-color: var(--input-color);
}
::placeholder{
    color: hsla(0,0%,100%,.6)
}
/* ------------------Responsiveness------------------- */
@media(min-width: 1000px){
    .contact{
        overflow-x: hidden;
    }
}
@media(max-width: 800px){
    .contact .inputBox{
        max-width: 100%;
    }
    .contact .inputBox .submit{
        margin: auto;
        margin-top: 5vh;
    }
}
@media(max-width: 400px){
    .contact .inputBox .contactInput{
        margin: 10px 0;
    }   
}