.exchanges{
    width: 100vw;
    display: flex;
    background-color: var(--bg-color);
    flex-direction: column;
    padding: 35px;
    overflow-x: hidden;
}
.exchanges h1{
    color: var(--heading-color);
    font-size: 5rem;
    margin: auto;
    padding: 35px 0;
    font-family: "Roboto";
    margin-bottom: 160px;
}
.dots{
    bottom: 20px !important;
}
.slick-dots li.slick-active button:before {
    color: var(--input-color) !important;
    opacity: 1 !important;
}
.slick-dots li button:before {
    transform: scale(1.5);
    color: var(--input-color) !important;
    opacity: 0.5 !important;
}

/* ---------------- buttons ---------------- */
.slick-arrow.slick-prev, 
.slick-arrow.slick-next{
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.slick-prev{
    left: 40px !important;
}
.slick-next{
    right: 40px !important;
}
.slick-prev::before, .slick-next::before{
    display: none;
}
.prevbtn, .nextbtn{
    font-size: 2rem;
    color: var(--input-color);
}


/* ------------------------------------------------- quote ----------------------------------------------------- */
.homecontent{
    width: 859px;
    padding: 1rem 1rem 1rem 32vw;
    color: var(--input-color);
    animation: zoomIn;
    animation-duration: 1s;
}
.homecontent img{
    width: 30vw;
}
/* ------------------Responsiveness---------------- */
@media(max-width: 1100px){
    .exchanges h1{
        font-size: 4rem;
    }
}
@media(min-width: 1000px){
    .exchanges{
        overflow-x: hidden;
    }
}
/* ------------------------------------------------- media queries ----------------------------------------------------- */
@media ( max-width: 900px ) {
    .slick-prev{
        left: 20px !important;
    }
    .slick-next{
        right: 20px !important;
    }
    .prevbtn, .nextbtn{
        font-size: 1.7rem;
    }
    .homecontent{
        width: 750px;
    }
}

/* ------------------------------------------------- media queries ----------------------------------------------------- */

@media ( max-width: 750px ) {
    .slick-prev{
        left: 10px !important;
    }
    .slick-next{
        right: 10px !important;
    }
    .prevbtn, .nextbtn{
        font-size: 1.5rem;
    }
    .homecontent{
        width: 550px;
        padding-left: 33vw;
    }
    .exchanges h1{
        margin-bottom: 100px;
    }
}

@media(max-width: 600px){
    .exchanges{
        padding: 35px 15px;
    }
    .exchanges h1{
        font-size: 2.5rem;
        margin-bottom: 50px;
    }
}

/* ------------------------------------------------- media queries ----------------------------------------------------- */

@media ( max-width: 580px ) {
    .slick-prev{
        left: 1px !important;
    }
    .slick-next{
        right: 1px !important;
    }
    .prevbtn, .nextbtn{
        font-size: 1.1rem;
    }
    .homecontent{
        width: 450px;
        padding-left: 32vw;
    }
}
@media ( max-width: 400px ) {
    .homecontent{
        margin-top: 1rem;
    }
    .exchanges h1{
        margin-bottom: 30px;
    }
}
