.header{
    display: flex;
    background-color: var(--bg-color);
    padding: 0 0 3vh 5vh;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    transition: all 0.5s ease-out;
}
#Header.hide{
    transform: translateY(-100px);
}
.header .logo h1, .navbar, .sideNavbar{
    padding-top: 4vh;
}
.header .logo{
    display: flex;
}
.header .logo img{
    width: 45px;
    height: 67px;
    border-radius: 50%;
    padding-right: 2vh;
    margin-top: 3vh;
}
.header .logo h1{
    font-size: 2rem;
    font-family: 'Roboto';
    color: var(--logo-color);
}
.header .navbar{
    display: flex;
}
.header .navbar .navIcons{
    text-decoration: none;
    color: var(--input-color);
    padding: 0.5rem 0 0 0;
    margin-right: 2rem;
    transition: color 1s;
    font-family: "Poppins", sans-serif;
    font-size: 1.15rem;
}
.header .navbar .navIcons:hover{
    color: var(--hover-color);
}
.header .navbar .navIcons::after{
    content: "";
    width: 0%;
    display: block;
    transition: all 1s ease;
    margin-top: 0.5vh;
}
.header .navbar .navIcons:hover::after{
    width: 100%;
    height: 2px;
    background-color: var(--hover-color);
}
ul.sidebar.d__flex {
    flex-wrap: wrap;
    height: calc(100% - 100px);
    position: fixed;
    right: 0%;
    background-color: var(--bg-color);
    justify-content: center;
    width: 250px;
    top: 99px;
    flex-direction: column;
    list-style: none;
    z-index: 10;
    display: none;
}
li.sideNavbar{
    padding: 15px 30px;
}
li.sideNavbar a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: var(--input-color);
    transition: color 1s;
}
li.sideNavbar a:hover{
    color: var(--hover-color);
}
li.sideNavbar a::after{
    content: "";
    width: 0%;
    display: block;
    transition: all 1s ease;
}
li.sideNavbar a:hover::after{
    width: 100%;
    height: 2px;
    background-color: var(--hover-color);
}
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}
.hamburger {
    margin: 0 auto;
    margin-top: 8px;
    width: 20px;
    height: 20px;
    position: relative;
    display: none;
}

.hamburger .bar {
    padding: 0;
    width: 20px;
    height: 3px;
    background-color: var(--input-color);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 7.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* HAMBURGER 1 */
.checkbox1:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 27px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 27px;
}

/* ----------------------Responsiveness--------------------- */
@media(max-height: 1050px){
    .header .logo img{
        width: 40px;
        height: 54px;
    }
    .header .navbar .navIcons{
        margin-right: 1.5rem;
    }
}
@media(max-width: 1000px){
    .header{
        padding-right: 5vh;
    }
    .header .navbar .navIcons{
        display: none;
        margin-right: 1.5rem;
    }
    .hamburger{
        display: block;
    }
    #Header.hide{
        transform: translateY(0);
    }
}
@media(max-width: 920px){
    .header{
        padding-left: 3vh;
    }
    .header .logo img{
        padding-right: 1vh;
    }
    .header .navbar .navIcons{
        margin-right: 1.5rem;
    }
}
@media(max-width: 400px){
    .header{
        padding: 0 2vh 1.5rem 2vh;
        height: 90px;
    }
    .header .logo img{
        width: 30px;
        height: 40px;
    }
    .header .logo h1{
        font-size: 1.5rem;
    }
    .hamburger{
        margin-top: 5px;
    }
    ul.sidebar.d__flex{
        height: calc(100% - 90px);
        top: 89px;
    }
}
