.home{
    width: 100vw;
    display: flex;
    padding-bottom: 240px;
    padding-left: 4vw;
    overflow-x: hidden;
}
.home .heading{
    width: 55%;
}
.home .imageDiv{
    margin-top: 150px;
    background-image: url("../../../public/Images/mockup.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40rem;
    height: 45rem;
}
.home .heading h1{
    font-size: 5rem;
    padding: 300px 0 15px 0;
    font-family: 'Roboto';
    color: var(--logo-color);
}
.home .heading p{
    color: var(--input-color);
    font-size: 2.5rem;
    font-family: "Poppins";
}
.home .contract, .buyNow{
    padding: 1.5rem;
    background-color: #F9004D;
    color: var(--input-color);
    border-radius: 35px;
    width: 30rem;
    font-family: "Poppins",sans-serif;
    margin-top: 35px;
    text-align: center;
    border: 2px solid #fff;
}
.home .contract:hover, .buyNow:hover{
    background-color: #fff;
    color: #F9004D;
    transition: all 0.5s ease-out;
    border: 2px solid #F9004D;
}
.home .particles{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}
.home .particle{
    z-index: -1;
}
/* ----------------------Responsiveness--------------------- */
@media(max-width: 1050px){
    .home .imageDiv{
        margin-top: 240px;
    }
    .home{
        padding-bottom: 100px;
    }
}
@media(min-width: 1000px){
    .home{
        overflow-x: hidden;
    }
}
@media(max-width: 920px){
    .home{
        flex-direction: column;
        padding-bottom: 35px;
    }
    .home .heading h1, .home .heading p{
        width: 90vw;
    }
    .home .imageDiv{
        margin: auto;
    }
}
@media(max-width: 680px){
    .home .imageDiv{
        width: 90vw;
    }
}
@media(max-width: 600px){
    .home .heading{
        width: 100%;
    }
    .home .heading h1{
        padding: 240px 35px 0 0;
    }
}
@media(max-width: 500px){
    .home .heading h1{
        font-size: 3.75rem;
        padding-left: 18px;
    }
    .home .heading p{
        font-size: 2rem;
        padding-left: 18px;
    }
    .home .contract, .buyNow{
        width: 90%;
        margin-top: 1.5rem;
    }
}
@media(max-width: 400px){
    .home .heading h1{
        font-size: 3rem;
        padding-left: 0;        
    }
    .home .heading p{
        font-size: 1.25rem;
        padding-left: 0;
    }
}