.project{
    width: 100vw;
    display: flex;
    background-color: var(--bg-color);
    flex-direction: column;
    padding: 5vh;
    background-image: url(../../../public/Images/world\ map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.project h1{
    color: var(--heading-color);
    font-size: 5rem;
    margin: auto;
    padding: 5vh 0;
    margin-bottom: 10vh;
    font-family: 'Roboto';
}
/* ---------------------------------- */
.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container{
    perspective: 1000px;
    height: 25rem;
    width: 25rem;
    cursor: pointer;
    margin: 2rem;
}
.card {
transform-style: preserve-3d;
height: 100%;
width: 100%;
transition: 0.5s ease;
}
.front,
.back {
height: 100%;
width: 100%;
transform-style: preserve-3d;
color: var(--input-color);
display: flex;
align-items: center;
justify-content: center;
text-align: center;
border-radius: 0.4em;
position: absolute;
top: 0;
bottom: 0;
backface-visibility: hidden;
}
.front {
background: linear-gradient(to right, rgb(241, 0, 241), #F9004D);
}
.front img {
width: 5em;
}
.content {
transform: translateZ(60px);
}
.content h2 {
font-size: 22px;
margin-top: 1em;
font-weight: 600;
letter-spacing: 0.04em;
font-family: "Roboto";
}
.content p {
font-size: 14px;
line-height: 2em;
letter-spacing: 0.02em;
padding: 0 3em;
font-family: "Poppins", sans-serif;
}
.content p a{
    text-decoration: none;
    color: rgba(255, 0, 212, 0.527);
}
.back {
background-color: #28253a;
transform: rotateX(180deg);
}
.container:hover .card {
transform: rotateX(180deg);
}
/* -----------------Responsiveness------------------ */
@media(max-width: 1100px){
    .project h1{
        font-size: 4rem;
    }
}
@media(max-width: 600px){
    .project{
        padding: 5vh 2vh;
    }
    .project h1{
        font-size: 2.5rem;
        margin-bottom: 0;
    }
}
@media(max-width: 500px){
    .container{
        width: 100vw;
        margin: 2rem 0;
    }
}
@media(max-width: 370px){
    .project{
        padding: 5vw;
    }
    .content p{
        padding: 0 1em;
    }
}