*{
    margin: 0;
    padding: 0;
}
.roadmap{
    width: 100vw;
    display: flex;
    background-color: var(--bg-color);
    flex-direction: column;
    padding: 5vh;
    overflow-x: hidden;
}
.roadmap .roadmap_h1{
    color: var(--heading-color);
    font-size: 5rem;
    margin: auto;
    padding: 5vh 0;
    font-family: "Roboto";
    margin-bottom: 20vh;
}

/* ------------------Responsiveness---------------- */
@media(max-width: 1100px){
    .roadmap .roadmap_h1{
        font-size: 4rem;
    }
}
@media(max-width: 600px){
    .roadmap{
        padding: 5vh 2vh;
    }
    .roadmap .roadmap_h1{
        font-size: 2.5rem;
        margin-bottom: 0;
    }
}