@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kalam:wght@700&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App{
  --bg-color: #000;
  --secondary-bg-color: #000;
  --text-color: rgba(198,201,216,.75);
  --input-color: #ffffff;
  --heading-color: #ffffff;
  --secondary-heading-color: #F9004D;
  --logo-color: #F9004D;
  --hover-color: #F9004D;
}
::-webkit-scrollbar{
  width: 0 !important;
}