@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kalam:wght@700&family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App{
  --bg-color: #000;
  --secondary-bg-color: #000;
  --text-color: rgba(198,201,216,.75);
  --input-color: #ffffff;
  --heading-color: #ffffff;
  --secondary-heading-color: #F9004D;
  --logo-color: #F9004D;
  --hover-color: #F9004D;
}
::-webkit-scrollbar{
  width: 0 !important;
}
.revealTop{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.revealTop.active{
  transform: translateY(0);
  opacity: 1;
}
.revealLeft{
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}

.revealLeft.active{
  transform: translateX(0);
  opacity: 1;
}
.revealRight{
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}
.revealRight.active{
  transform: translateX(0);
  opacity: 1;
}
